./database
./docker
/node_modules
./frontend/dist
./backend/node_modules
./backend/dist
.DS_Store
.env
./docker-compose.yml
./Dockerfile
./idea.md
./database
./docker
./frontend/node_modules
./frontend/dist
/day_plan.md