./database
./docker
/node_modules
./frontend/dist
./backend/node_modules
./backend/dist
.DS_Store
.env
./docker-compose.yml
./Docke
./database
./docker
./frontend/node_modules
./frontend/dist
/day_plan.md
/node_modules
/backend/node_modules
./backend/dist
/day_plan.md

